
@{
    ViewBag.Title = "ConverteurDevice";
}
@{ 

    double resultat =Double.Parse(Session["resultat"].ToString())* Double.Parse(Session["somme"].ToString());
}
<html>
<head></head>
<body>
    <div class="panel panel-info">
        <div class="panel-heading">
            <p><h1 class="panel-title">Convertiseur de Device</h1></p>
        </div>
        
        <form method="post" action="ConverteurDevice">
            <p>
                <div class="form-group row">
                    <label for="nom_manager" class="col-sm-2 form-control-label">Entrez la somme d'argent :</label>
                    <div class="col-sm-10"> <input type="text" name="argent" value="@Session["resultat"]" /></div>
                </div>
            </p>
            <p>
                <div class="form-group row">
                    <label for="nom_manager" class="col-sm-2 form-control-label">Depuis :</label>
                    <div class="col-sm-10">
                        <select name="listbox1" id="listbox1" class="form-control">
                            @foreach (var item in Model)
            {

                                <option value="@item" data-tokens="mustard">
                                    @item
                                </option>
                            }
                            <option value="@Session["op1"]" data-tokens="mustard" selected>
                                @Session["op1"]
                            </option>
                        </select>
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group row">
                    <label for="nom_manager" class="col-sm-2 form-control-label">Depuis :</label>
                    <div class="col-sm-10">
                        <select name="listbox2" id="listbox2" class="form-control">
                            @foreach (var item in Model)
            {

                                <option value="@item" data-tokens="mustard">
                                    @item
                                </option>
                            }
                            <option value="@Session["op2"]" data-tokens="mustard" selected>
                                @Session["op2"]
                            </option>
                        </select>
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group row">
                    <label for="nom_manager" class="col-sm-2 form-control-label">Le resultat est :</label>
                    <div class="col-sm-10"> <input type="text" name="result" value="@resultat" disabled /></div>
                </div>
            </p>
            <p>
                <div class="form-group row">
                    <div class="col-sm-10"> <input type="submit" value="convertir" /></div>
                </div>
            </p>

            
           
        </form>

        </div>
</body>
</html>